.signup {
  font-weight: bold;
  /* margin-left: 25px; */
  font-size: 50px;
}
.selectImage {
  
  margin: auto;
  width: 50%;
  padding: 10px;
}
.inputgroup{
  width: 400px;
  
}
.btn-danger{
  margin-left: 20px;
}

.profile-picture img{
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  padding: 10px;
  /* background-color: aqua; */
}
.preview{
  text-align: center;
}