input.form-control {
  background-color: antiquewhite;
}
.input.form-control:focus {
  background-color: aliceblue;
}
.error {
  position: absolute;
  color: red;
  font-size: 0.7rem;
}
.inputGroup {
  margin-bottom: 10px;
}
.form-control {
  padding: 0px;
  padding-left: 10px;
  font-size: 15px;
}
.form-label {
  margin-bottom: 0px;
}
