input.form-control, input.form-control:focus {
  background-color: antiquewhite;
}
.error {
  position: absolute;
  color: red;
  font-size: 0.7rem;
}
.inputGroup{
  margin-bottom: 10px;
}.form-control{
  padding: 0px;
  padding-left: 10px;
}
.form-label{
  margin-bottom: 0px;
}